{% extends 'shop/base.html' %}
{% load static %}
{% block title %}
  Contact US
{% endblock %}

{% block content %}


<hr>

 <div class="container-fluid">
      <div class="row">
        <div class="col">
        	<h3 align="center" style="color: teal; margin-top:5%">CONTACT INFO</h3>
        	<hr>
        	<div style="margin-left: 5%">
	        	<h4 style="color: gold">BookBuzz-An Online Book Store</h4>
	        	<h5 style="color: grey">Kalanki, Kathmandu</h5>
				<h5 style="color: grey"><i class="fas fa-phone" style="color: black"></i>: 9843242535</h5>
				<h5 style="color: grey"><i class="far fa-envelope" style="color: black"></i> : Gyanabsharma@gmail.com</h5>
				<h5 style="color: grey"><i class="far fa-envelope" style="color: black"></i> : Maheshdas@gmail.com</h5>
				<h5 style="color: grey"><i class="far fa-envelope" style="color: black"></i> : bibekgiri@gmail.com</h5>
			</div>
		</div>
		<div class="col">
			<h3 align="center" style="color: teal; margin-top:5%">FOLLOW US</h3>
				<hr>
				<div style="margin-left: 10%">
				<div class="row" style="margin-left: 15%">
					<h2 style="margin-right: 2%; margin-left: 5%"><a href="https://www.facebook.com/gyanab.sharma" target="_blank"><i class="fab fa-facebook-f "></i></a></h2>
					<h2 style="margin-left: 10%"><a href="#"><i class="fab fa-instagram" style="color: red"></i></a></h2>
	               	<h2 style="margin-left: 11%"><a href="#"><i class="fab fa-twitter"></i></a></h2>
	               	<h2 style="margin-left: 10%"><a href=" http://www.youtube.com/c/gyanab" target="_blank"><i class="fab fa-youtube" style="color: red"></i></a></h2>
               	</div>
	               	<div class="row" style="margin-left: 15%">
					<h5 style="margin-right: 3%">Facebook</h5>
					<h5 style="margin-right: 3%">Instagram</h5>
					<h5 style="margin-right: 3%">Twitter</h5>
					<h5 style="margin-right: 3%">Youtube</h5>
               </div>  
               </div> 
            </div>		
		</div>
	</div>
</div>




{% endblock %}